<div class="modal fade" id="modal-address" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:fragment="modal-adress">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Địa chỉ của bạn</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <form th:each="add : ${userAddresses}" method="post" th:action="@{/checkout/set-address}">
                            <div class="address-item">
                                <input type="hidden" name="addressId" th:value="${add.id}">
                                <b><span th:text="${add.receiverName}"></span></b> <br>
                                <span th:text="${add.receiverPhone}"></span> <br>
                                <span th:text="${add.userAddressName}"></span> <br>
                                <span th:text="${add.defaultAddress} ? '(Mặc định)' : ''"></span>
                                <button th:unless="${add.defaultAddress}" type="submit">Set as default</button>
                                <hr>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
